{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Administrateur' %}

{% block page_content %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>
        <strong>Hayaaaaaaa nbadlou lenna  !!!!!!!!</strong>
    </p>

    <p>
        Hey
    </p>

    <pre>{{ dashboard_controller_filepath }}</pre>

    <p>
        Then, add the following method to it to customize the Dashboard start page:
    </p>

    <pre>


class {{ dashboard_controller_class }} extends AbstractDashboardController
{
    /**
     * @Route("/admin")
     */
    public function index(): Response
    {
        // redirect to some CRUD controller
        $routeBuilder = $this->get(AdminUrlGenerator::class);

        return $this->redirect($routeBuilder->setController(OneOfYourCrudController::class)->generateUrl());

        // you can also redirect to different pages depending on the current user
        if ('jane' === $this->getUser()->getUsername()) {
            return $this->redirect('...');
        }

        // you can also render some template to display a proper Dashboard
        // (tip: it's easier if your template extends from @EasyAdmin/page/content.html.twig)
        return $this->render('some/path/my-dashboard.html.twig');
        
        




    }

    // ...
}
    </pre>
{% endblock %}
